/*Fonts color*/
$primary_font_color: #ECE9E9;
$secondary_font_color: #BCBBBB;
$inputs_font_color: #484848;

/*Border color*/
$nav_item_border: #2A2A2D;
 
/*Background color*/
$primary_bg: #1C1C1E;
$secondary_bg: #272727;
 
/*Button*/
$btn_default: #9937EB;
$btn_hover: #6C27A7;
$btn_disabled: #484848;