@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Oxanium:wght@300;400;500;600;700;800&display=swap');
@import './colors.scss';

@import './header.scss';
@import './footer.scss';
@import './main.scss';
@import './card_preview.scss';
@import './card.scss';
@import './home.scss';



* {
    box-sizing: border-box;
    font-family: 'Oxanium', sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.25rem;
    color: $primary_font_color;
    background: $primary_bg;
    
    ul {
        list-style: none;
    }
    h1,h2,h3,h4,h5,h6,p {
        margin: 0;
    }
}
    